 <!-- About Section -->
    <section id="about" class="section dark">
      <div class="container">
	    <div class="icon-wrap"><span class="icon icon-active icon-seo-icons-24"></span></div>
        <h3>University life + Tech</h3>
        <div class="sub-title">
          HackThe.University is about exploring <span class="highlight">new ideas to improve university life.</span>. 
        </div>
        
        <br />
        <br />
        <section class="nav-tabs-simple">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified">
            <li class="active">
              <a href="#htmlcss" data-toggle="tab">
                <i class="icon icon-ecology-09"></i> Why?</a></li>
            <li><a href="#jquery" data-toggle="tab"><i class="icon icon-faces-users-04"></i> Who?</a></li>
            <li><a href="#php" data-toggle="tab"><i class="icon icon-ecology-07"></i> What?</a></li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" id="htmlcss">
              <article class="row">
                <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                  <img class="img-responsive" src="<%= asset_path 'library.jpg' %>" alt="starbuck" />
                </div>
                <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                  <h6>Why change your university experience?</h6>
					<p>University education is a multi-billion dollar industry with huge room for improvement. Every year, hundreds of startups are formed in the education sector offering products and services from tutoring to job seeking. Some of the biggest tech companies were born from hackathons such as GroupMe and PhoneGap, each worth tens of millions of dollars.</p> 
          <p>Creating a successful project at Hack the University could <span class="highlight">improve your community, the university experience of millions of students and even develop into a global company.</span></p>
          
					
				</div>
              </article>
            </div>
            <div class="tab-pane fade" id="jquery">
              <article class="row">
				<div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInLeft" data-delay="500">
                  <h6>Are you up for this?</h6>
					
					<ul class="sub-list">
						<li><i class="icon icon-documents-bookmarks-16"></i> Are you a student with ideas of revolutionising your university experience?</li>
						<li><i class="icon icon-multimedia-16"></i> Is there an aspect of university education that could be done better?</li>
            <li><i class="icon icon-seo-icons-11"></i> Do you have business, IT, artistic or design skills?</li>
            <li><i class="icon icon-multimedia-12"></i> Would you like to experience fast-paced product development?</li>
						<li><i class="icon icon-socialmedia-29"></i> Have you ever wanted to work for a startup?</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-6 animated hiding" data-animation="fadeInRight" data-delay="500">
                  <img class="img-responsive" src="<%= asset_path 'people-woman-coffee-meeting.jpg' %>" alt="placeholder" />
                </div>
              </article>
            </div>
            <div class="tab-pane fade" id="php">
              <article class="row">
                <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                  <img class="img-responsive" src="<%= asset_path 'NewMediaHeroes.png' %>" alt="iphone" />
                </div>
                <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                  <h6>What is a virtual hackathon?</h6>
                 <p>This is no traditional weekend hackathon - where 2 days limits the amount that can be accomplished. Hack the University is a week long event that allows ideas to be more fully formed, designs to be more considered and tech to be developed beyond mockups. </p>

                <p>And why limit it to a single city? We want to connect and share with people on a global scale.</p>
                </div>
              </article></div>
          </div>
        </section>
      </div>
    </section>
    <!-- End About Section -->