 <!-- About Section -->
    <section id="about" class="section dark">
      <div class="container">
	    <div class="icon-wrap"><span class="icon icon-active icon-seo-icons-24"></span></div>
        <h3>Media + Tech</h3>
        <div class="sub-title">
          HackThe.Media is about exploring <span class="highlight">new ideas to reach bigger audiences</span>. 
        </div>
        
        <br />
        <br />
        <section class="nav-tabs-simple">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified">
            <li class="active">
              <a href="#htmlcss" data-toggle="tab">
                <i class="icon icon-ecology-09"></i> Why?</a></li>
            <li><a href="#jquery" data-toggle="tab"><i class="icon icon-faces-users-04"></i> Who?</a></li>
            <li><a href="#php" data-toggle="tab"><i class="icon icon-ecology-07"></i> What?</a></li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" id="htmlcss">
              <article class="row">
                <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                  <img class="img-responsive" src="<%= asset_path 'PlayStation-Eye.png' %>" alt="starbuck" />
                </div>
                <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                  <h6>Why new media?</h6>
					<p>The global media industry is undergoing a huge transformation and while traditional media outlets struggle to monetise their offerings, new media formats are burgeoning.</p>
          <p><span class="highlight">Vlogging, podcasting, live streaming and citizen journalism</span> are all growing at unbelievable speed and we know there are many people with ideas that will revolutionise the market even more.</p>
					
				</div>
              </article>
            </div>
            <div class="tab-pane fade" id="jquery">
              <article class="row">
				<div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInLeft" data-delay="500">
                  <h6>Are you up for this?</h6>
					
					<ul class="sub-list">
						<li><i class="icon icon-documents-bookmarks-16"></i> Are you a journalist with ideas of revolutionising your industry?</li>
						<li><i class="icon icon-multimedia-16"></i> Are you a radio broadcaster or television personality?</li>
            <li><i class="icon icon-seo-icons-11"></i> Are you a digital artist or film maker looking to inspire?</li>
            <li><i class="icon icon-multimedia-12"></i> A podcaster or citizen journalist, wanting to break through?</li>
						<li><i class="icon icon-socialmedia-29"></i> Vlogger or livestreamer looking to create the next platform?</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-6 animated hiding" data-animation="fadeInRight" data-delay="500">
                  <img class="img-responsive" src="<%= asset_path 'multimedia1.png' %>" alt="placeholder" />
                </div>
              </article>
            </div>
            <div class="tab-pane fade" id="php">
              <article class="row">
                <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                  <img class="img-responsive" src="<%= asset_path 'NewMediaHeroes.png' %>" alt="iphone" />
                </div>
                <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                  <h6>What is a virtual hackathon?</h6>
                 <p>This is no traditional weekend hackathon - where 2 days limits the amount that can be accomplished. Hack the Media is a week long event that allows ideas to be more fully formed, designs to be more considered and tech to be developed beyond mockups. </p>

                <p>And why limit it to a single city? We want to connect and share with people on a global scale.</p>
                </div>
              </article></div>
          </div>
        </section>
      </div>
    </section>
    <!-- End About Section -->