 <!-- Map Section -->
    <section id="map" class="dark">
		<div id="canvas-map"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-7 animated hiding location" data-animation="fadeInLeft" data-delay="0">
					<h3>Location</h3>
						<ul itemscope="" itemtype="http://schema.org/PostalAddress">
							<li itemprop="building"><i class="fa fa-building highlight"></i><a href="http://new-accommodation.sydney.edu.au/queenmarybuilding/" title="Aura Creative: Coworkgin & Events" target="_blank">Queen Mary Building</a></li>
							<li itemprop="address"><i class="fa fa-map-marker highlight"></i><a href="https://www.google.com.au/maps/place/112%2F106-112+Church+St,+Camperdown+NSW+2050/@-33.889551,151.178838,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12b02e50bf257d:0x532d803cb688af20" target="_blank">106-112 Church St, Camperdown NSW 2050</a></li>
							<li itemprop="email"><i class="fa fa-envelope highlight"></i>hackathons@coderfactory.com</li>
						</ul>
				</div>
			</div>
		</div>
    </section>
    <!-- End Map Section -->
 