 <!-- Map Section -->
    <section id="map" class="dark">
		<div id="canvas-map"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-7 animated hiding location" data-animation="fadeInLeft" data-delay="0">
					<h3>Location</h3>
						<ul itemscope="" itemtype="http://schema.org/PostalAddress">
							<li itemprop="building"><i class="fa fa-building highlight"></i><a href="http://auracreative.com.au" title="Aura Creative: Coworkgin & Events" target="_blank">Aura Creative: Coworking & Events</a></li>
							<li itemprop="address"><i class="fa fa-map-marker highlight"></i>7 Hudson Street, Redfern NSW 2016</li>
							<li itemprop="email"><i class="fa fa-envelope highlight"></i>team@hackthe.media</li>
						</ul>
				</div>
			</div>
		</div>
    </section>
    <!-- End Map Section -->