 <!-- Map Section -->
    <section id="map" class="dark">
		<div id="canvas-map"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-7 animated hiding location" data-animation="fadeInLeft" data-delay="0">
					<h3>Location</h3>
						<ul itemscope="" itemtype="http://schema.org/PostalAddress">
							<li itemprop="building"><i class="fa fa-building highlight"></i><a href="http://new-accommodation.sydney.edu.au/queenmarybuilding/" title="Aura Creative: Coworkgin & Events" target="_blank">Queen Mary Building</a></li>
							<li itemprop="address"><i class="fa fa-map-marker highlight"></i>106-112 Church St, Camperdown NSW 2050</li>
							<li itemprop="email"><i class="fa fa-envelope highlight"></i>hacktheuniversity@coderfactory.com</li>
						</ul>
				</div>
			</div>
		</div>
    </section>
    <!-- End Map Section -->