<!-- Price Section -->
    <section id="price" class="section dark">
      <div class="container">
        <div class="icon-wrap"><span class="icon icon-active icon-shopping-02"></span></div>
        <h3>Pricetable</h3>
        <div class="sub-title">Shortest way to explore what will happen on Ventcamp</div>
		<br/>
		<br/>
        <div class="pricing-cols pricing-3-cols">
          <div class="pricing-col animated hiding" data-animation="fadeInLeft" data-delay="0">
              <div class="pricing-col-header">
                  <h3 class="pricing-col-header-title">1 day</h3>
                  <h4 class="pricing-col-header-amount">
                  <span class="pricing-col-amount">$100</span></h4>
              </div>
              <div class="pricing-col-content">
                  <ul>
                      <li>Lorem ipsum is simply</li>
                      <li>Dummy text of the printing</li>
                      <li>Typesetting industry</li>
                  </ul>
                  <a class="pricing-col-button" href="register.html">Buy Now</a>
              </div>
          </div>
          <div class="pricing-col pricing-col-featured">
              <div class="pricing-ribbon">-20%</div>
              <div class="pricing-col-header">
                  <h3 class="pricing-col-header-title">3 days</h3>
                  <h4 class="pricing-col-header-amount"><span class="pricing-col-amount">$150</span></h4>
              </div>
              <div class="pricing-col-content">
                  <ul>
                      <li>Lorem ipsum is simply</li>
                      <li>Dummy text of the printing</li>
                      <li>Typesetting industry</li>
                  </ul>
                  <a class="pricing-col-button" href="register.html">Buy Now</a>
              </div>
          </div>
          <div class="pricing-col animated hiding" data-animation="fadeInRight" data-delay="0">
              <div class="pricing-col-header">
                  <h3 class="pricing-col-header-title">2 days</h3>
                  <h4 class="pricing-col-header-amount"><span class="pricing-col-amount">$200</span></h4>
              </div>
              <div class="pricing-col-content">
                  <ul>
                      <li>Lorem ipsum is simply</li>
                      <li>Dummy text of the printing</li>
                      <li>Typesetting industry</li>
                  </ul>
                  <a class="pricing-col-button" href="register.html">Buy Now</a>
              </div>
          </div>
      </div>
      </div>
    </section>
    <!-- End Price Section -->