<section id="register" class="section light">
      <div class="overlay"></div>
      <div class="container">
        <article class="article-big animated hiding" data-animation="fadeInUp" data-delay="0">
          <h5>Register to a Ventcamp right now!</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		  <br/>
          <a href="#" class="btn btn-sm btn-tertiary">Register</a>
        </article>
      </div>
    </section>
