<!-- Schedule Section -->
    <section id="schedule" class="section dark">
      <div class="container">
        <div class="icon-wrap"><span class="icon icon-active icon-alerts-07"></span></div>
        <h3>HackThe.Univserity</h3>
        <div class="sub-title">Schedule of Events</div>
        <br />
        <br />
        <div class="panel-group timeline-schedule" id="panelTimelineOne">
          <div class="panel panel-default">
            <div class="speaker-wrapper">
              <img src="<%= asset_path 'speaker-1.jpg' %>" class="img-responsive img-circle" alt="speaker-1" />
            </div>
            <div class="panel-heading">
              <div class="panel-title">
                <div class="time"> Friday, 25th Sept 2015  6PM - 7PM</div>
                <a data-toggle="collapse" data-parent="#panelTimelineOne" href="#itemOne">
                  Info Session
                  <div class="pull-right fa fa-angle-up"></div>
                  <div class="pull-right fa fa-angle-down"></div>
                </a>
              </div>
            </div>
            <div id="itemOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <article>
                  <p><strong>What is Hack The University?</strong></p>
                  <p>Come along to this fun session and be inspired by some emerging technologies and hackathon winners.</p>
                  <P>Queen Mary Building - Theatre</P>
                  <!-- <p class="author"><a href="#"><strong><i class="fa fa-user"></i> Michael Lambert</strong></a></p> -->
                </article>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="speaker-wrapper">
              <img src="<%= asset_path 'speaker-1.jpg' %>" class="img-responsive img-circle" alt="speaker-2" />
            </div>
            <div class="panel-heading">
              <div class="panel-title">
                <div class="time"> Wednesday, 30th Sept 2015  6:00 PM</div>
                <a data-toggle="collapse" data-parent="#panelTimelineOne" href="#itemTwo" class="collapsed">
                  Launch event
                  <div class="pull-right fa fa-angle-up"></div>
                  <div class="pull-right fa fa-angle-down"></div>
                </a>
              </div>
            </div>
            <div id="itemTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <article>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  <p class="author"><a href="#"><strong><i class="fa fa-user"></i> Michael Lambert</strong></a></p>
                </article>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="speaker-wrapper">
              <img src="<%= asset_path 'speaker-1.jpg' %>" class="img-responsive img-circle" alt="speaker-3" />
            </div>
            <div class="panel-heading">
              <div class="panel-title">
                <div class="time"> Wednesday, 7th Oct 2015  6:00 PM</div>
                <a data-toggle="collapse" data-parent="#panelTimelineOne" href="#itemThree" class="collapsed">
                  Submission Due
                  <div class="pull-right fa fa-angle-up"></div>
                  <div class="pull-right fa fa-angle-down"></div>
                </a>
              </div>
            </div>
            <div id="itemThree" class="panel-collapse collapse">
              <div class="panel-body">
                <article>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  <p class="author"><a href="#"><strong><i class="fa fa-user"></i> Michael Lambert</strong></a></p>
                </article>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="speaker-wrapper">
              <img src="<%= asset_path 'speaker-1.jpg' %>" class="img-responsive img-circle" alt="speaker-4" />
            </div>
            <div class="panel-heading">
              <div class="panel-title">
                <div class="time"> Friday, 16th Oct 2015  6:00 PM</div>
                <a data-toggle="collapse" data-parent="#panelTimelineOne" href="#itemFour" class="collapsed">
                  Awards Party
                  <div class="pull-right fa fa-angle-up"></div>
                  <div class="pull-right fa fa-angle-down"></div>
                </a>
              </div>
            </div>
            <div id="itemFour" class="panel-collapse collapse">
              <div class="panel-body">
                <article>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  <p class="author"><a href="#"><strong><i class="fa fa-user"></i> Michael Lambert</strong></a></p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>

</section>
<!-- End Schedule Section -->