<!-- Sponsors Section -->
    <section id="sponsors" class="section dark">
      <div class="container">
        <div class="icon-wrap"><span class="icon icon-active icon-documents-bookmarks-12"></span></div>
        <h3>Sponsors</h3>
        <div class="sub-title">Check out the amazing sponsors</div>
		<br/>
         <div class="row">
          <ul class="list-inline">
            <li><a href="https://coderfactory.com" target="_blank"><img src="<%= asset_path 'CoderFactory.png' %>" alt="coder factory" /></a></li> 
            <li><a href="http://sydney.edu.au/campus-life/accommodation.html" target="_blank"><img src="<%= asset_path 'USydLogo.svg' %>" alt="University of Sydney Accommodation" /></a></li> 
            <!-- <li><a href="#" target="_blank"><img src="assets/img/sponsor/sponsor-logo-3.jpg" alt="sponsor-3" /></a></li> --> 
            <!-- <li><a href="#" target="_blank"><img src="assets/img/sponsor/sponsor-logo-4.jpg" alt="sponsor-4" /></a></li> 
            <li><a href="#" target="_blank"><img src="assets/img/sponsor/sponsor-logo-5.jpg" alt="sponsor-5" /></a></li> 
            <li><a href="#" target="_blank"><img src="assets/img/sponsor/sponsor-logo-0.jpg" alt="sponsor-6" /></a></li> 
            <li><a href="#" target="_blank"><img src="assets/img/sponsor/sponsor-logo-7.jpg" alt="sponsor-7" /></a></li> 
            <li><a href="#" target="_blank"><img src="assets/img/sponsor/sponsor-logo-8.jpg" alt="sponsor-8" /></a></li> 
            <li><a href="#" target="_blank"><img src="assets/img/sponsor/sponsor-logo-9.jpg" alt="sponsor-9" /></a></li> 
            <li><a href="#" target="_blank"><img src="assets/img/sponsor/sponsor-logo-0.jpg" alt="sponsor-10" /></a></li>  -->
          </ul>
		
		 <div class="btn-wrapper">
			<a href="/sponsorships/new" class="btn btn-sm btn-primary">Become a sponsor</a>
		 </div>
		</div> 
      </div>
    </section>
    <!-- End Sponsor Section -->