<!-- Stat Section -->
    <section id="stat" class="section light">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
              <div class="stat"><span class="value" data-from="0" data-to="5">5</span></div>
              <div class="stat-info">events</div>
              <hr />
              <p class="small">Meet, mingle, create, build and learn.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
              <div class="stat"><span class="value" data-from="0" data-to="25">25</span></div>
              <div class="stat-info">teams</div>
              <hr />
              <p class="small">Join a team of tech loving creatives and build the next big thing!</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
              <div class="stat">$<span class="value" data-from="0" data-to="15000">$15000</span>+</div>
              <div class="stat-info">in prizes</div>
              <hr />
              <p class="small">Winners will be awarded over $15000 in prizes.</p>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!-- End Stat Section -->
