<div class="team container">
	<h1>Hack the University</h1>
	<h4>Competitor's Guide</h4>
	<p>
		Hackthe.university is a competition for university students across Sydney to create innovative, community focused products or services to solve problems in the university experience. We encourage students of any faculty to join, technical expertise can be helpful but should not limit your ideas.
	</p>

	<p>
		Each submission will be judged on a 3 minute video of a proof of concept of your project. We do not expect a full working prototype but something which shows your concept.
	</p>

	<p>
		Winners of Hackthe.University will be eligible for a great range of prizes including scholarships to coding courses and funding to develop their ideas.
	</p>

	<p>
		By participating in Hackthe.University we hope you get an idea of what working in a fast-paced, innovative environment, such as a startup is like. Many of the world’s best new products were created out of hackathon style events. We hope that some great ideas will come out of this event that continue on to form great companies. What will your team create?
	</p>

	<h6>Tips</h6>
	<ul>
		<li>Study areas within the Queen Mary Building have been made available for Hack the University participants.</li>
		<li>Upload your video to your host well before the submission time, this process can take longer than anticipated. Uploading to youtube is preferable because you get the video link before the video has finished uploading.</li>
		<li>Hack the University staff will be available for help at any time. Just send us an email or approach us and we will be happy to help.</li> 
	</ul>

	<h6>Rules</h6>
	<ol>
		<li>Submissions must be related to an aspect of university life e.g. anything from an app that identifies the best sleeping areas on campus to platforms which revolutionise post-university job-seeking. No idea is too big or too small as long as it fits within the university experience.</li>
		<li>Submission must be made by 7 pm AEST, 07/10/15.</li>
		<li>Contributions to a submission must only be made by team members declared on the team page.</li>
		<li>Hack the University staff may enter but not win any prizes.</li>
		<li>Participants must wear their Hack the University lanyards when entering the Queen Mary Building and should have them nearby at all times when inside the building.</li>
	</ol>
</div>