<br>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<div class="panel panel-default">
<div class="panel-body">
<h1>Thanks!</h1>
<p class="lead"><span class="highligt">We'll be in touch very soon.</span></p>
<p><a href="/">Return to home</a></p>
</div></div></div></div>