<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<h3>Become a Sponsor</h3>
<p class="lead">Get access to the hottest vloggers, podcasters and new media personalities: become a Hack The Media sponsor. To receive the Sponsorship Pack, please send us your details.</p>
<%= render 'form' %>

<%= link_to 'Cancel', root_path %>
</div></div>