<br>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<div class="panel panel-default">
<div class="panel-body">
<h3>Become a Sponsor</h3>
<p class="lead">Get access to the most innovative, creative and ambitious university students Sydney has to offer: become a Hack The University sponsor. To receive the Sponsorship Pack, please send us your details.</p>
<%= render 'form' %>

<%= link_to 'Cancel', root_path %>
</div></div>
</div></div>